/* nav {
  height: 25px;
  left:0;
  line-height: 25px;
  position:fixed;
  top:0;
  width: 100%;
  margin-bottom: 25px;
}
nav ul {
  background: #555;
  list-style-type: none;
  margin:0;
  padding:0;
}
nav ul li {
  display: inline-block;
  margin: 0;
  padding: .5em;
  text-align:center;
  width: 100px;
}

nav ul li:hover {
  background: #ccc;
}

nav ul li a {
  color: #fff;
  text-decoration:none;
}

nav ul li:hover a {
  color: #555;
} */
@media( min-width: 480px ) and (max-width: 767px) {
.f,.h{
  width: 50%;
  /* float: left; */
  border-right: unset;
  

}
.e ,.g {
  width: 50%;
  /* float: right; */
  
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}}

@media( min-width:767px ) and (max-width: 960px){
 .a{
  grid-column: 1/7;
  height: 50px;
  align-items: center;
  justify-content: center;}

  .b{
    grid-row: 2/14;
  }
  .c{
    grid-column: 2/3;
    grid-row: 2/6;
  }
  .d{
    grid-column: 3/4;
    grid-row: 2/6;
  }
 
  .windows{
    grid-row: 6/11;
    grid-column: 2/4;
    display: flex;
    flex-flow: row nowrap;
  }
  .windEle{
    flex-grow: 1;
  }
  .i{
    grid-row: 11/14;
    grid-column: 2/4;  }

  .center ,.windEle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

@media (min-width: 960px){
  .a{
    grid-column: 1/7;
    height: 50px;
    align-items: center;
    justify-content: center;}
  
    .b{
      grid-row: 2/14;
    }
    .c{
      grid-column: 2/3;
      grid-row: 2/6;
    }
    .d{
      grid-column: 3/4;
      grid-row: 2/6;
    }
   
    .windows{
      grid-row: 6/11;
      grid-column: 2/4;
      display: flex;
      flex-flow: row nowrap;
    }
    .windEle{
      flex-grow: 1;
    }
    .i{
      grid-row: 11/14;
      grid-column: 2/4;  }
  
    .center ,.windEle {
        display: flex;
        align-items: center;
        justify-content: center;
      }

}